#!/usr/bin/make -f

build: build-stamp
build-stamp:
	./configure
	make
	touch build-stamp

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_installdirs
	cp -rf ./ftpmodule.app debian/openpanel-mod-ftp/var/opencore/modules/FTP.module/
	ln -sf ftpmodule.app/exec debian/openpanel-mod-ftp/var/opencore/modules/FTP.module/action
	cp module.xml debian/openpanel-mod-ftp/var/opencore/modules/FTP.module/
	cp *.html debian/openpanel-mod-ftp/var/opencore/modules/FTP.module/
	install -m 755 verify debian/openpanel-mod-ftp/var/opencore/modules/FTP.module/verify
	touch install-stamp

binary-indep: build install

binary-arch: build install
	dh_installdocs -a
	dh_installdeb -a
	dh_compress -a
	dh_fixperms -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch

clean:
	rm -f install-stamp build-stamp
	[ ! -f makeinclude ] || make clean
	dh_clean

.PHONY: build binary binary-arch binary-indep clean install
